:root {
  --bg: #f3f4f6;
  --sidebar: #ffffff;
  --card: #ffffff;
  --text: #111827;
  --primary: #4f46e5;
  --border: #e5e7eb;
}

body.dark {
  --bg: #0b1020;
  --sidebar: #0f172a;
  --card: #1e293b;
  --text: #e2e8f0;
  --primary: #3b82f6;
  --border: #334155;
}

* {
    transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease, box-shadow 0.4s ease;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    margin: 0;
    background: var(--bg);
    color: var(--text);
    width: 100%;
}

.app {
    display: grid;
    grid-template-columns: 220px 1fr;
    min-height: 100vh;
}
.app.sidebar-closed {
  grid-template-columns: 60px 1fr;
}

.sidebar {
    background: var(--sidebar);
    padding: 24px;
    border-right: 1px solid var(--border);
    transition: width 0.3s ease;
    width: 220px;
}


.sidebar.closed {
  width: 60px;
}




.sidebar.closed .menu {
  display: none;
}

.sidebar.closed #icon{
    display: none;
}

.sidebar nav button{
    display: block;
    margin-bottom: 10px;
    border-radius: 6px;
    border: none;
    background: transparent;
    text-align: left;
    width: 100%;
    height: 35px;
    padding: 10px;
    cursor: pointer;
    color: var(--text);
    background-color: var(--card);
}

.sidebar nav button:hover {
    background: var(--bg);
    transition: 0.5s;
}

.content {
  padding: 32px;
}

.task-form input {
    flex: 1;
    border: none;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;

}

.task-form {
    display: flex;
}

.task-form button {
    padding: 10px 16px;
    border-radius: 6px;
    border: none;
    background: var(--primary);
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
}

/* bu kısımdan aşağısı task-list js ile eklenicek etiketler üzerinde etkili olacak */

.task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-item {
  background: var(--card);
  padding: 12px;
  border-radius: 6px;
  border: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}

.completeBtn {
    display: inline-block;
    cursor: pointer;
    width: 75px;
    background-color: var(--sidebar);
    border-radius: 6px;
    border: 1px solid var(--bg);
    height: 30px;
}

.completeBtn:hover {
    background-color: var(--bg);
    transition: 0.5s;
}

.trashBtn {
    display: inline-block;
    cursor: pointer;
    width: 75px;
    background-color: var(--sidebar);
    border-radius: 6px;
    border: 1px solid var(--bg);
    height: 30px;
}

.trashBtn:hover {
    background-color: var(--bg);
    transition: 0.5s;
}

.undoBtn {
    display: inline-block;
    cursor: pointer;
    width: 75px;
    background-color: var(--sidebar);
    border-radius: 6px;
    border: 1px solid var(--bg);
    height: 30px;
}

.undoBtn:hover {
    background-color: var(--bg);
    transition: 0.5s;
}

a{
    text-decoration: none;
    color: var(--text);
}

#themeToggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 40px;
    border: none;
    background-color: var(--sidebar);
}

#themeToggle:hover {
    background-color: var(--card);
    transition: transform 0.3s ease;
}

#themeToggle:active {
    transform: rotate(180deg);
}

#menuToggle {
    color: var(--text);
    margin-left: -5px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: var(--bg);
}

#menuToggle:hover {
    background-color: var(--sidebar);
    transition: transform 0.3s ease; 
}

#icon {
    cursor: context-menu;
}